{{define "login"}}

{{template "authHeader"}}

<!-- Login Form -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            
            <h2>Login Page</h2>
            <div id="errors"></div>
            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input name="email" type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <button hx-post="/login" hx-target="#errors" type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>
    </div>
</div>

{{template "authFooter"}}

{{end}}